// Mixins in here

.flex-base(@justifyContent){
    display:flex;
    justify-content: @justifyContent;
}

.footerButton(){
    background-color: green;
    border: .1rem solid black;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    width:50%

}