// Navigation Styles here

header {
    .flex-base(space-between);
    font-size: 2rem;
    padding: 2rem 0;
    p {
        font-size: 2rem;
    }
    nav a {
        text-decoration: none;
        color: black;

    }
    
}

